#main_bg{
    background: #fff!important;
}
#main_bg ul>li>a{
    color: #000;
}
#main .bannerImg{
    margin-bottom: 120px;
}
#main .server{
    width: 1000px;
    margin: 0 auto;
    margin-left: 249px;
}
#main .h5_title{
    width:100%;
    height:35px; 
    font-size:35px;
    font-family:PingFangSC-Medium;
    color:rgba(51,51,51,1);
    line-height:35px;
    text-align: center;
    margin-bottom: 25px;
}
#main .h5_detail{
    width:100%;
    height:20px; 
    font-size:12px;
    font-family:PingFangSC-Regular;
    color:rgba(51,51,51,1);
    line-height:20px;
    text-align: center;
    margin-bottom: 22px;
}
#main .h5_line{
    width:25px;
    height:2px;
    background: #F7D043;
    margin: 0 auto;
    margin-bottom: 55px;
}
#main .walle{
    width: 100%;
    height: 413px;
    position: relative;
}
#main .walle .walle_bg{
    /*width: 100%;*/
    height: 85px;
    background: url('../img/Apple TV.png') repeat-x;
    margin-left: -111px;
}
#main .txt_img{
    width: 100px;
    height: 115px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}
#main .txt_img>img{
    width: 75px;
    height: 75px;
}
#main .txt_img>span{
    width:82px;
    height:15px; 
    font-size:10px;
    font-family:PingFangSC-Regular;
    color:rgba(51,51,51,1);
    line-height:15px;
}
#main .one_position{
     top: -76px;
     left: 260px;
}
#main .two_position{
    top: 70px;
    left: 480px;
}
#main .three_position{
    top: -76px;
    left: 700px;
}
#main .four_position{
    top: 70px;
    left: 926px;
}
#main .five_position{
    top: -76px;
    left: 1140px;
}