<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>深圳市蛋壳创意科技有限公司</title>
    <link rel="stylesheet" href="css/public.css">
    <link rel="stylesheet" href="css/swiper.min.css">
    <script type="text/javascript" src='js/vue.js'></script>
  </head>
  <body>
    <div id="main" style="display:none;">

    </div>
    <a class="mao" href="#customer_mao" style="display:none;"></a>
    <!-- 头部 -->
    <header id='header' class="header">
      <common-header></common-header>
    </header>
    <!-- 主体类型 -->
    <section id='section' class="section">
      <div class="swiper-container initial_swiper-container">
          <div class="swiper-wrapper">
              <!-- <div class="swiper-slide"><img src="img/bg_1.png" alt=""></div> -->
              <div class="swiper-slide" v-for='item in swiper_box'><img @click='to_url(item.href_url)' :src="item.img_url" alt=""></div>
              <!-- <div class="swiper-slide"><img src="img/b3_ copy.png" alt=""></div> -->
          </div>
          <div class="swiper-pagination initial_swiper_pagination"></div>
      </div>
      <!-- title :解决几乎所有的软件开发和设计需求 -->
      <div class="title">
        <p><span>解决几乎所有的</span><span>软件开发和设计需求</span><b></b></p>
        <div class="clear box_center_two">
          <dl class="fl">
           <dt><img src="img/ic_web.png" alt=""></dt>
           <dd>网站建设</dd>
          </dl>
          <dl class="fl">
           <dt><img src="img/ic_phone.png" alt=""></dt>
           <dd>APP开发</dd>
          </dl>
          <dl class="fl">
           <dt><img src="img/ic_h5.png" alt=""></dt>
           <dd>H5&手机网页</dd>
          </dl>
          <dl class="fl">
           <dt><img src="img/ic_web_copy_4.png" alt=""></dt>
           <dd>小程序开发</dd>
          </dl>
        </div>
      </div>
      <!-- customer_case :客户案例 -->
      <div class="customer_case">
        <h2 id='customer_mao'>客户案例</h2>
        <p class="sub_title">无论您来自哪个行业，我们都有专家了解您行业所面临的特殊挑战，深知满足客户需求的重要性。<b></b></p>
        <div class="box_center">
          <ul class="clear">
            <li v-bind:class="{customer_case_active:web}" @click="customer_case('web')">网站定制</li>
            <li v-bind:class="{customer_case_active:app}" @click="customer_case('app')">APP开发</li>
            <li v-bind:class="{customer_case_active:h5}" @click="customer_case('h5')">H5&手机网页</li>
            <li v-bind:class="{customer_case_active:program}" @click="customer_case('program')">小程序开发</li>
          </ul>
          <ul class="lists clear" >
            <li v-for='item in case_box'>
              <img :src="item.img_url" alt="">
              <div class="lists_son"><img src="img/ic_selected.png" alt=""></div>
            </li>
          </ul>
          <div class="aside">
            <p class="line"></p>
            <p class="circle">
              <span></span>
              <span></span>
              <span></span>
            </p>
            <div class="arrow">
              <img src="img/ic_looktg.png" alt="">
              <img src="img/ic_next_gray.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <!-- 蛋壳合作优势   -->
      <div class="advantages">
        <img src="img/process.png" alt="">
      </div>
      <!-- custom_process 定制服务流程  他们与蛋壳在一起  -->
      <div class="custom_process customer_case process_wave" >
        <h2><span>定制</span><span>服务流程</span></h2>
        <p  class="sub_title">直击企业痛点，让企业营销轻而易举<b></b></p>
        <!-- <img src="img/" alt=""> -->
        <div class="img_words clear box_center">
          <dl class="fl">
            <dt><img src="img/1.png" alt=""></dt>
            <dd><h3>产品规划</h3></dd>
            <dd>商业分析</dd>
            <dd>竞品分析</dd>
            <dd>技术可行性分析</dd>
            <dd>产品评估</dd>
          </dl>
          <dl class="fl">
            <dt><img src="img/2.png" alt=""></dt>
            <dd><h3>原型交互设计</h3></dd>
            <dd>需求分析</dd>
            <dd>优先级定义</dd>
            <dd>信息架构设计</dd>
            <dd>交互设计</dd>
            <dd>原型设计</dd>
          </dl>
          <dl class="fl">
            <dt><img src="img/3.png" alt=""></dt>
            <dd><h3>UI设计</h3></dd>
            <dd>色彩分析</dd>
            <dd>设计规范</dd>
            <dd>界面设计</dd>
            <dd>图标设计</dd>
            <dd>可用性测</dd>
          </dl>
          <dl class="fl">
            <dt><img src="img/4.png" alt=""></dt>
            <dd><h3>技术研发</h3></dd>
            <dd>架构设计</dd>
            <dd>代码规范</dd>
            <dd>小时计划</dd>
            <dd>开发管理</dd>
          </dl>
          <dl class="fl">
            <dt><img src="img/5.png" alt=""></dt>
            <dd><h3>测试上线</h3></dd>
            <dd>多环境测试</dd>
            <dd>单元测试</dd>
            <dd>系统测试</dd>
            <dd>上线计划</dd>
          </dl>
          <dl class="fl">
            <dt><img src="img/6.png" alt=""></dt>
            <dd><h3>后期维护</h3></dd>
            <dd>免费一年Bug维护</dd>
            <dd>分享数据统计</dd>
            <dd>流量数据检测系</dd>
          </dl>
        </div>
        <div class="customer_case">
          <h2><span>他们与</span><span>DANKAL</span></span><span>一起前行</span></h2>
          <p>Our Client<b></b></p>
          <ul class="cooperations box_center clear">
            <li v-for='item in partner_box'><img src="img/triangle.png" alt=""><img :src="item.img_url" alt=""></li>
            <!-- <li><img src="img/triangle.png" alt=""><img src="img/zhou.png" alt=""></li>
            <li><img src="img/triangle.png" alt=""><img src="img/zhou.png" alt=""></li>
            <li><img src="img/triangle.png" alt=""><img src="img/zhou.png" alt=""></li>
            <li><img src="img/triangle.png" alt=""><img src="img/zhou.png" alt=""></li>
            <li><img src="img/triangle.png" alt=""><img src="img/zhou.png" alt=""></li>
            <li><img src="img/triangle.png" alt=""><img src="img/zhou.png" alt=""></li>
            <li><img src="img/triangle.png" alt=""><img src="img/zhou.png" alt=""></li>
            <li><img src="img/triangle.png" alt=""><img src="img/zhou.png" alt=""></li>
            <li><img src="img/triangle.png" alt=""><img src="img/zhou.png" alt=""></li>
            <li><img src="img/triangle.png" alt=""><img src="img/zhou.png" alt=""></li>
            <li><img src="img/triangle.png" alt=""><img src="img/zhou.png" alt=""></li>
            <li><img src="img/triangle.png" alt=""><img src="img/zhou.png" alt=""></li>
            <li><img src="img/triangle.png" alt=""><img src="img/zhou.png" alt=""></li>
            <li><img src="img/triangle.png" alt=""><img src="img/zhou.png" alt=""></li>
            <li><img src="img/triangle.png" alt=""><img src="img/zhou.png" alt=""></li>
            <li><img src="img/triangle.png" alt=""><img src="img/zhou.png" alt=""></li>
            <li><img src="img/triangle.png" alt=""><img src="img/zhou.png" alt=""></li>
            <li><img src="img/triangle.png" alt=""><img src="img/zhou.png" alt=""></li>
            <li><img src="img/triangle.png" alt=""><img src="img/zhou.png" alt=""></li> -->


          </ul>
          <div class="buttons" style="display:none;">
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
      <!-- 数字变化 -->
      <div class="numbers">
        <img src="img/bg_2.png" alt="">
        <div class="cover  box_center">
          <dl class="fl">
            <dt v-text='succ_box.success'></dt>
            <dd>成功案例</dd>
            <dd>Success Storie</dd>
          </dl>
          <dl class="fl">
            <dt v-text='succ_box.solution'></dt>
            <dd>解决方案</dd>
            <dd>Solutions</dd>
          </dl>
          <dl class="fl">
            <dt v-text='succ_box.people'></dt>
            <dd>技术人员</dd>
            <dd>Technical personnel</dd>
          </dl>
          <dl class="fl">
            <dt v-text='succ_box.product_user'></dt>
            <dd>蛋壳产品用户</dd>
            <dd>DANKAL Product Users</dd>
          </dl>
          <dl>

          </dl>
        </div>
      </div>
      <!-- 蛋壳常见问题，行业新闻 -->
      <div class="question_news box_center">
        <p><span>蛋壳创意科技紧跟</span><span>行业最新策略</span></p>
        <div class="container clear">
          <div class="question fl">
            <p class="title"><img src="img/ic_menu.png" alt=""><span>常见问题</span></p>
            <ul class="accodian" v-for='(item,index) in common_question_box'>
              <li class="clear" @click='common_click(index)'><span class="fl" v-bind:class="{selected_span:index==click_index}">salesforce是什么</span><span class="fr" v-text="index==click_index?'-':'+'"></span></li>
              <li v-show='index==click_index'><span>中毒了封建历史得分纪录时刻绝对是的浪费时间的路口附近拉开松井大辅了聚少离多极乐世界的翻领设计了开放的就是立刻搭街坊老实交代发</span>  </li>
            </ul>
            <!-- <ul class="accodian">
              <li class="clear"><span class="fl">salesforce是什么</span><span class="fr">+</span></li>
            </ul>
            <ul class="accodian">
              <li class="clear"><span class="fl">salesforce是什么</span><span class="fr">+</span></li>
            </ul> -->
          </div>
          <div class="news fr">
            <p class="title"><img src="img/ic_menu.png" alt=""><span>行业新闻</span></p>
            <ul class="clear news_lists">
              <li class="fl"><img src="img/b3_ copy.png" alt="">  </li>
              <li class="fl"><span><b>「蛋壳科技」</b></span></li>
              <li class="fl"><span class="ellipsis_3">蛋壳科技有限公司乔迁于本周星期三，热列庆祝蛋壳创意科技乔 迁之喜</span> </li>
            </ul>
            <ul class="clear news_lists">
              <li class="fl"><img src="img/b3_ copy.png" alt="">  </li>
              <li class="fl"><span><b>「蛋壳科技」</b></span></li>
              <li class="fl"><span class="ellipsis_3">蛋壳科技有限公司乔迁于本周星期三，热列庆祝蛋壳创意科技乔 迁之喜</span> </li>
            </ul>
            <ul class="clear news_lists">
                          <li class="fl"><img src="img/b3_ copy.png" alt="">  </li>
                          <li class="fl"><span><b>「蛋壳科技」</b></span></li>
                          <li class="fl"><span class="ellipsis_3">蛋壳科技有限公司乔迁于本周星期三，热列庆祝蛋壳创意科技乔 迁之喜</span> </li>
            </ul>
            <ul class="clear news_lists">
                        <li class="fl"><img src="img/b3_ copy.png" alt="">  </li>
                        <li class="fl"><span><b>「蛋壳科技」</b></span></li>
                        <li class="fl"><span class="ellipsis_3">蛋壳科技有限公司乔迁于本周星期三，热列庆祝蛋壳创意科技乔 迁之喜</span> </li>
            </ul>
          </div>
        </div>
      </div>

    </section>
    <!-- 联系我们 -->
    <a class="initial_custom" href="#contact" style="display:none;"></a>
    <section class="section">
      <div id='contact' class="contact">
        <img src="img/call_me.png" alt="">
        <common-contact></common-contact>
      </div>
    </section>

    <!-- 尾部 -->
    <footer id="footer" class="footer clear">
      <common-footer></common-footer>
    </footer>
  </body>
  <script type="text/javascript" src='js/jquery-3.1.1.min.js'></script>
  <script type="text/javascript" src='js/swiper.min.js'></script>
  <script type="text/javascript" src="js/vueComponent.js?ver=1.0"></script>
  <script type="text/javascript" src='js/index.js'></script>
</html>
